[Desktop Entry]
Type=Application
Name=${APP_FRIENDLY_NAME}
Icon=${APP_ID}
StartupWMClass=${APP_BASE_NAME}
Comment=${APP_SHORT_SUMMARY}
Exec=${INSTALL_EXEC}
NoDisplay=${DESKTOP_NODISPLAY}
Terminal=${DESKTOP_TERMINAL}
Categories=${PRIME_CATEGORY}
X-AppImage-Name=${APP_ID};
X-AppImage-Version=${APP_VERSION};
X-AppImage-Arch=${PACKAGE_ARCH};
MimeType=
Keywords=metroid;zelda;smz3;randomizer;tracker